body{
margin:0;
font-family:'Inter',sans-serif;
background:#0b0f19;
color:white;
scroll-behavior:smooth;
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
padding:20px 8%;
position:fixed;
width:100%;
background:#0b0f19cc;
backdrop-filter:blur(10px);
}

.links a{
margin-left:25px;
text-decoration:none;
color:white;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:55px;
max-width:900px;
}

.hero span{
color:#38bdf8;
}

.hero p{
opacity:.8;
max-width:600px;
}

.btn{
margin-top:20px;
padding:14px 28px;
background:#38bdf8;
border-radius:8px;
text-decoration:none;
color:white;
}

/* SECTION */
.section{
padding:100px 10%;
text-align:center;
}

.dark{
background:#020617;
}

/* CARDS */
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#111827;
padding:30px;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
background:#1f2937;
}

/* PROJECTS */
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
}

.project{
background:#111827;
padding:30px;
border-radius:12px;
}

button{
margin-top:10px;
padding:10px 18px;
background:#38bdf8;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

.hidden{
display:none;
}

footer{
text-align:center;
padding:30px;
background:black;
}
